<h1>FAQ</h1>

<p><b>Q: What is this Carvana Ping Pong thingy?</b></p>
<p><b>A:</b> Here at Carvana, we play ping pong quite a bit. Sometimes, things get pretty competitive. This app tracks all the games that are played and rank you against everyone in the company. Now, you will know exactly where you stand on the Carvana ping pong totem pole, and so will everyone else. Let the trash talking begin.</p>

<p>If you are looking for some inspirational ping pong videos, you can never go wrong with this.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IhMJn-n5ys0" frameborder="0" allowfullscreen></iframe> 

<p><b>Q: How does it work?</b></p>
<p><b>A:</b>  If this is your first time playing, make sure you register yourself under the Players section. Afterwards, everytime you finish playing a game, one of you should log the results in the system by creating a new game. Once game is logged, both of your ratings will be updated accordingly. Both sections can be found in the menu on the left hand side</p>

<p><b>Q: What are the rules for ranked matches?</b></p>
<p><b>A:</b> There are no hard rules, but ranked matches should follow these guidelines:</p> 
	<ul>
		<li>The match should be a best of 3 series. For each game, the first player to reach 21 points wins. However, a game must be won by at least 2 points.</li>
		<li>Serve should alternate every 5 points.</li>
		<li>The winner of the match should be responsible for entering the final score.</li>
	</ul>

<p><b>Q: How is my rating calculated?</b></p>
<p><b>A:</b> The math behind the ranking is based on the ELO system used in competitive chess. The concept of the algorithm is quite simple: a player is first given a default rating. His/her rating is re-evaluated after every match based on the rating of the opponent and the result of the match. For example, if you lost against an opponent who has a much higher rating than you, your rating won't go down much. However, if you had won against that same player, your rating would be boosted significantly.</p> 

<p>This system is widely used to rank the relative skill levels of players in situations where the players may not meet head to head and not everyone plays the same number of games. To learn more about the ELO system, click <a href="http://www.lifewithalacrity.com/2006/01/ranking_systems.html">here</a><p>

<p><b>Q: How do you treat rating calculation for doubles?</b></p>
<p><b>A:</b> The same algorithm is used, except that the rating of the 2 players on each team is combined.</p>

<p><b>Q: Who built this?</b></p>
<p><b>A:</b> This app is built and maintained by Yilun Zhang (@yzhang on slack). He's a product manager here at Carvana and is responsible for the merchandising track. He spends most of his time at Carvana playing ping pong, or building an app that tries toget everyone to play ping pong. In his spare time, he works with everyone in the company to build features that help Carvana sell a bunch of cars. Some of the initiatives he is currently working on include search page redesign and the Carvana On Demand program. 

<p>If you have any comments or suggestions about the app, just shoot him a note at yilun.zhang@carvana.com or ping him on slack (@yzhang)</p>

<p><b>Q: Where do I find your source code?</b></p>
<p><b>A:</b> The source code can be found at <a href="https://github.com/yilunzh/game_ranker">https://github.com/yilunzh/game_ranker</a>.</p>
