<div class="row">
<div class="col-md-5">
	<h1>New Game</h1>

  
	<%= render 'form' %>
	
	<%= link_to 'Back', games_path %>

</div>

<div class="col-md-5 col-md-offset-1">
	<h3>Instructions</h3>
	<p>Under Match Score, input the following for each player:</p>
	<ol>
		<li><strong>Player Name:</strong> input each player's name into text box. If no match found in auto-complete, you must first create the player under Players section. Otherwise, form submission will fail.</li>
		<li><strong>Games Won:</strong> For each player in the match, input the number of games the player won in the series. If Bob and Rachel played 3 games series, where Bob won 2 and Rachel won 1. Then type 2 for Bob and 1 for Rachel.</li>
	</ol>
	<p>Afterwards, click on Create Game to save results</p>
	<p><strong>Note:</strong> If this is a doubles game, input the same number of games won for both you and your teammate. For example, if Bob and Rachel won against Kevin and Emily 2-1, then you would put 2 under Bob and Rachel and 1 under Kevin and Emily.</p>
</div>
</div>