<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.game_date %>
</p>

<p>
  <strong>Rating change:</strong>
  <%= @game.rating_change %>
</p>


<%= link_to 'Back', games_path %>
