.video-container {
	max-width: 560px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.circle
{
    width:100px;
    height:100px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#009933;
}
